.Form-login {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10%;
  margin: 0 auto;
  background-color: azure;
  gap: 10px;
}
.Container-login {
  background-color: black;
  margin: 30px;
  padding: 30px;
}
.FormControl-login {
  margin: 100px;
  padding: 30px;
}
