.banner {
	/*background-image: url("../../img/banner.jpg");*/
	position: relative;
	height: 400px;
	object-fit: contain;
	background-size: cover;
	background-position: center;
}

.banner-shadow {
	width: inherit;
	height: inherit;
	background: linear-gradient(to top right, #000 20%, transparent 40%);
}

.banner-info{
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: white;
	width: 50%;
	text-align: left;
}